pkgbase = android-studio
	pkgdesc = The official Android IDE (Stable branch)
	pkgver = 2026.1.4.7
	pkgrel = 1
	url = https://developer.android.com/
	install = android-studio.install
	arch = x86_64
	license = Apache-2.0
	depends = alsa-lib
	depends = fontconfig
	depends = freetype2
	depends = libxrender
	depends = libxtst
	depends = which
	optdepends = gtk2: GTK+ look and feel
	optdepends = libbsd: emulator support
	optdepends = libgl: emulator support
	optdepends = libxkbcommon: Wayland support for the bundled runtime
	optdepends = libxkbfile: emulator support
	optdepends = ncurses5-compat-libs: native debugger support
	optdepends = vulkan-icd-loader: Vulkan acceleration for Gemini local models
	options = !strip
	source = https://dl.google.com/dl/android/studio/ide-zips/2026.1.4.7/android-studio-quail4-linux.tar.gz
	source = android-studio.desktop
	source = license.html
	b2sums = c4f0dfad8eff9b8d0d9f2040dc9f26f2c60f7330226060ec1c9254f3a2ee8a8296c6be9002c7ef8818b18730d34dbe67b516036c4ad0378c4f4f6ba857571e5a
	b2sums = 3c1b7f6858a8ac3c1d8f5f15a98c221c935219eb7d9f6518889c6c7a29f92d172968c98d11e5ab3b3e4195272a13d5d687f46f49982b763acae62c0c23727c4a
	b2sums = 43b288fb81656cd72826a52620e41fbd0daa65d37246cb5b7dbff9c326022eabf18344513517b16134b557d6ae86535f44f863ebd06d6fe0410f92117c1a8c67

pkgname = android-studio
